#resume-header {
    font-family: 'FivoSans-Black';
    font-size: 2.9em;

    line-height: 0.8;
    text-align: center;
}

#job-title {
    display: block;
    line-height: 0.8;
    color: var(--job-title-color);
    margin-top: 8px;
}

.resume-columns {
    display: flex;
    flex-direction: row;
}

.resume-margin {
    width: 220px;
    padding: 16px;

    background-color: var(--secondary-color);
    border-right: 12px solid #565656;

    flex-shrink: 0;
}

.resume-margin-section {
    margin: 32px 0px 32px 0px;
}
.resume-margin-section .title,
.resume-mobile-contact .title {
    font-family: 'FivoSans-Black';
    font-size: 1.3em;
    margin-bottom: 16px;
}
.resume-margin-subsection {
    padding-left: 8px;
    margin-bottom: 8px;
}
.resume-margin-section .subtitle,
.resume-margin-subsection .subtitle {
    font-family: 'FivoSans-Black';
    line-height: 1;
}
.resume-margin-section .info {
    padding-left: 8px;
    font-size: 0.9em;
    line-height: 1.2;
}
.resume-margin-section .skills-list,
.resume-margin-section .interests-list {
    font-size: 0.9em;
    padding-left: 30px;
}
.resume-margin-section .skills-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 84px);
    grid-template-rows: repeat(6, min-content);
}
.resume-margin-section .skills-list li span {
    margin-left: -6px;
}

.resume-section {
    border-bottom: 1px solid var(--secondary-opposite);
    margin: 24px 0 0 0;
}

.resume-section .title {
    font-family: 'FivoSans-Black';
    font-size: 1.75em;
    margin-bottom: 24px;
}

.resume-section .entry {
    padding: 0 8px 20px;
}
.resume-section .header,
.resume-section .subheader {
    font-family: 'FivoSans-Light';
    display: flex;
    flex-direction: column;
}
.resume-section .subheader {
    margin: 8px 0;
    font-size: 1.2em;
}
.resume-section .company {
    font-family: 'FivoSans-Bold';
    font-size: 1.35em;
    margin-bottom: 8px;
}
.resume-section .location {
    font-family: 'FivoSans-Light';
    margin-bottom: 8px;
}
.resume-section .position {
    font-size: 1.2em;
}
.resume-section .position::before {
    content: '';
    display: inline-block;

    width: 8px;
    height: 8px;
    margin-bottom: 2px;
    margin-right: 8px;

    border-radius: 50%;
    background-color: var(--secondary-opposite);
}

.resume-section ul {
    margin-left: -24px;
}

.resume-mobile-contact {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, min-content);

    margin-top: 32px;
}

.resume-mobile-skills {
    display: flex;
    justify-content: space-evenly;
}

@media only print, (min-width: 768px) {
    #resume-header {
        margin-top: 32px;
        font-size: 3.2em;
        line-height: 1.1;
    }

    #job-title {
        margin-top: -8px;
        line-height: 0.5;
    }

    .resume-section {
        margin-left: 32px;
        margin-right: 32px;
    }
    .resume-section:nth-last-child(3) {
        border-bottom: none;
    }

    .resume-section ul {
        margin-left: 0;
    }

    .resume-section .header,
    .resume-section .subheader {
        flex-direction: row;
    }

    .resume-section .header {
        font-size: 1.35em;
    }

    .resume-section .company {
        width: min(59%, auto);
        margin-bottom: 0;
    }

    .resume-section .subheader {
        font-size: 1.3em;
    }

    .resume-section .location {
        margin-bottom: 0;
    }

    .resume-section .date {
        margin-left: auto;
    }

    .resume-section .position::before {
        margin-left: 8px;
    }
}

@media only print {
    .resume-body {
        font-size: 0.83em;
    }

    .resume-section .entry {
        padding-bottom: 8px;
    }

    .resume-section .title {
        font-size: 1.5em;
		margin-bottom: 12px;
    }

    .resume-section .header {
        font-size: 1.2em;
    }

    .resume-section .subheader {
        font-size: 1.15em;
    }

    .resume-section ul li {
        line-height: 1.1;
    }

    .resume-section p {
        margin-top: 8px;
        line-height: 1.1;
    }
}